<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Withings GPX export</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="login" class="login">
      <h2>Withings login</h2>
      <form>
          <input id="email" type="email" class="userinput" placeholder="username">
          <input id="password" type="password" class="userinput" placeholder="password">
          <input type="button" title="Login" value="Login" id="loginButton" class="btn">
      </form>
    </div>
    <div id="activitiesDialog">
      <h2>Please choose the activity you want to convert to GPX</h2>
        <div id="activities" class="activities">
        </div>
        <div id="loading" class="loading">Loading activities...</div>
        <div id="finished" class="finished">No more activities have been found</div>
    </div>
    <div id="processing" class="dialog processing">
      <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
        <path class="icon-white" d="M40,32a8,8,0,0,0-7.74,6H16a6,6,0,0,1,0-12H32A10,10,0,0,0,32,6H15.74a8,8,0,1,0,0,4H32a6,6,0,0,1,0,12H16a10,10,0,0,0,0,20H32.26A8,8,0,1,0,40,32Zm0,12a4,4,0,1,1,4-4A4,4,0,0,1,40,44Z"/>
      </svg>
      </div>
      <h2>Downloading data and converting to GPX</h2>
    </div>
    <script src="./renderer.js"></script>
  </body>
</html>
