html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  background-color: #202428;
  font-family: helvetica, arial, sans;
  font-weight: 200;
}
.login {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #0f0f0f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  left: 50%;
  max-width: 475px;
  min-width: 320px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.dialog {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #0f0f0f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  left: 50%;
  max-width: 475px;
  min-width: 320px;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
h2 {
  color: #ffffff;
  display: block;
  font-family: 'helvetica';
  font-size: 1.35em;
  font-weight: 500;
  margin: 0px;
  padding: 0.75em 1em 0.75em 1.5em;
}
h3 {
  color: #ffffff;
  display: block;
  font-family: 'helvetica';
  font-size: 1.2em;
  font-weight: 200;
  margin: 0px;
  padding-bottom: 10px;
}
form {
  display: block;
  padding: 2em;
  width: 100%;
}
.login > h2 {
  background: #0f0f0f;
  width: 100%;
}
.dialog > h2 {
  background: #0f0f0f;
  width: 100%;
}
input {
  background: #0f0f0f;
  border: 0px;
  border-bottom: 1px solid #606060;
  color: #e6e6e6;
  display: block;
  margin: auto auto;
  margin-bottom: 2em;
  padding: 0.5em 0em;
  padding-bottom: 1.25em;
  width: 100%;
}
input:focus {
  outline: none;
}
.btn {
  background: #008cff;
  border: 1px solid #027fe8;
  border-radius: 4px;
  color: white;
  display: inline-block;
  padding: 0.5em 2em;
  text-transform: uppercase;
  width: auto;
}
.btn:hover {
  background: #2e92e4;
}
.btn:active {
  background: #027fe8;
}
.btn:focus {
  outline: none;
}
.activities > div {
  background-color: #0f0f0f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  color: #e6e6e6;
  cursor: pointer;
  font-size: 0.8em;
  margin: 10px;
  padding: 20px;
}
.activities > div:hover {
  background-color: #434c54;
}
.loading,
.finished {
  background-color: #0f0f0f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  color: #e6e6e6;
  font-size: 1em;
  margin: 10px;
  padding: 20px;
}
.info {
  display: inline-block;
  width: 120px;
}
.info .label {
  color: #808080;
  margin-bottom: 5px;
}
.info .value span {
  color: #808080;
  padding-left: 5px;
}
